@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

/* is user in dark mode or not */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
h1, .we-oh, li, th {
  color: black;
}

body {
  color: var(--foreground-rgb);
  padding: 1rem;
}
